/** @format */

.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  cursor: default;
}

.appArrow {
  font-size: 3rem;
  font-weight: 800;
  color: black;
}

header {
  margin: 0%;
  padding: 0%;
  background-color: #f7f7f7;

  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > button {
  margin: 1rem 3rem;
  padding: 0.6rem 3rem;
  background-color: #ff6000;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 800;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Nav Page */

nav {
  display: flex;
}

.navDiv {
  background-color: #ffffff;
  padding: 0.5rem;
}

.navDiv > nav > ul {
  list-style-type: none;

  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  width: 100%;
  padding: 1rem;
}

.navImgDiv {
  cursor: pointer;

  display: flex;
  align-items: center;
}

.navDiv > nav > ul > li > a {
  text-decoration: none;
  color: #ff6000;
  font-weight: 800;

  padding: 1rem 2rem;
}

.navLogo {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
}

/* FeaturedItems Page */

/* .featureDiv {
} */

.featureOne,
.featureTwo,
.featureThree,
.featureFour,
.featureFive,
.featureSix,
.featureSeven,
.featureEight {
  padding: 1rem;

  min-height: 45.5vh;
  border-bottom: 8px solid #ffffff;
  border-top: 8px solid #ffffff;
}

.featureOne > .featBtnDiv > button,
.featureTwo > button,
.featureThree > button,
.featureFour > .featFourShadow > button,
.featureFive > .featText > .featCenterDiv > button,
.featureSix > .featSixText > button,
.featureSeven > .featSevText > button,
.featureEight > button {
  margin: 1rem 0rem;
  padding: 1.2rem 2.4rem;
  background-color: black;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.featureOne > .featBtnDiv > button:hover,
.featureTwo > button:hover,
.featureThree > button:hover,
.featureFour > .featFourShadow > button:hover,
.featureFive > .featText > button:hover,
.featureSix > .featSixText > button:hover,
.featureSeven > .featSevText > button:hover,
.featureEight > button:hover {
  margin: 1rem 0rem;
  padding: 1rem 2rem;
  background-color: black;
  color: #ffffff;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.featureOne,
.featureTwo,
.featureFive,
.featureSix,
.featureSeven,
.featureEight {
  background-color: #ff6000;
}

.featureThree,
.featureFour,
.featureSix {
  min-height: 40vh;
  height: 100%;
}

.featureOne > h2,
.featureOne > p {
  width: 60%;
  margin: 0;
}

/* applies to many features on this page... */

.featDollar {
  font-size: 4rem;
}

.featDesc {
  font-weight: 800;
  font-size: 1.2rem;
}

.featLegal {
  font-size: 0.8rem;

  display: flex;
}

.featOfferDate {
  font-size: 0.8rem;
  padding-top: 1.6rem;
  text-align: right;
}

.featTitle {
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
}

.featDealDesc {
  font-size: 1.5rem;
  padding: 0;
}

.featAddText {
  font-size: 0.8rem;
  font-weight: 800;

  padding: 0.5rem;
}

.featCode {
  font-size: 1.7rem;
  color: #ffffff;
  padding: 1rem;
}

/* feature Overlay */

.featOverlay {
  background-color: rgba(241, 232, 232, 0.9);
  width: 50%;
  float: right;
  padding: 1rem 1rem 2rem 1rem;
  text-align: left;
  margin: 2rem 1rem;
}

.featOverlay > h2 {
  color: #ff6000;
  font-weight: 800;
  font-size: 1.8rem;
  margin: 0;
}

.featOverlay > .featSubTitle {
  color: black;
  font-weight: 800;
  font-size: 1.8rem;
  margin: 0;
}

.featOverlay > .featDescText {
  padding-bottom: 1rem;
}

.featOverlay > button {
  background-color: transparent;
  padding: 1rem;
  border: 4px solid #ff6000;

  float: right;
}

.featOverlay > button > a {
  text-decoration: none;
  color: #ff6000;
  font-weight: 800;
}

/* featureOne ($6 Hot n Ready Pizza Deal)*/

.featureOne > .featBtnDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;

  font-weight: 800;
  margin-bottom: 2rem;
}

/* featureTwo (Free Crazy Bread Online Only Deal)*/

.featureTwo > .featDealImg {
  width: 30%;
}

.featDealImg > img {
  width: 10rem;
  height: 10rem;
}

.featureTwo > .featText {
  width: 70%;
}

.featureTwo {
  display: flex;
}

.featureTwo > .featText > h2 {
  font-size: 2rem;
  font-weight: 800;
  padding: 0.5rem;
}

.featureTwo > .featText > .featTitle {
  font-size: 3rem;
}

.featureTwo > .featText > h2,
.featureTwo > .featText > p {
  margin: 0;
}

/* featureThree (Exclusive Deals Subscribe)*/

.featureThree {
  background-image: url("./images/vip.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 42vh;
}

/* featureFour (Merch Sale)*/

.featureFour {
  background-image: url("./images/sale.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 49vh;

  color: white;
  font-weight: 700;
  font-size: 1.8rem;
}

.featureFour > .featOverlay > .featDescText {
  color: black;
  font-size: 1rem;
}

/* featureFive (Cookie Dough Brownie)*/

.featureFive {
  display: flex;
  padding: 0;
}

.featureFive > .featText {
  text-align: left;
}

.featureFive > .featDealImg {
  width: 40%;
  height: 50%;
}

.featFiveTitle > h2,
.featFiveTitle > p {
  margin: 0;
}

.featFiveTitle > p {
  font-size: 2rem;
}

.featFiveTitle > .featTitle {
  font-size: 2.6rem;
}

.featFiveTitle {
  display: flex;
  width: 100%;
  padding: 0rem 1rem 0rem 1rem;
}

.two {
  display: flex;
  flex-direction: column;
}

.featDealBrownieText {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.featCenterDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featCenterDiv > .brownieBtn {
  padding: 0.5rem;
}

.featCenterDiv > .featOfferDate {
  padding: 0rem 0rem 0rem 1rem;
  margin: 0;
  text-align: left;
}

.featureFive > .featText > .featCenterDiv > button {
  margin: 0rem 0rem 0.8rem 0rem;
  padding: 1.4rem 2.3rem;
  background-color: black;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* featureSix (Now Hiring) */

.featureSix {
  display: flex;

  background-color: #ff6000;

  margin: 0;
  padding: 0;
}

.featSixText {
  width: 60%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.featureSix > .featSixText > button {
  margin-left: 10%;
  padding: 1.2rem 2.6rem;
}

.featSixTitle {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.featSixTitle > h2 {
  font-size: 1.8rem;
  text-align: center;
}

.featJobText {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
}

.featImgDiv {
  display: flex;
  padding-left: 16%;
}

.featImgDiv > img {
  width: 10rem;
  height: 10rem;
}

.featImgCharacterDiv {
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.featImgCharacterDiv > img {
  height: 16rem;
  width: 14rem;
}

/* featureSeven (Fundraising)*/

.featureSeven {
  display: flex;

  padding: 0rem 1rem 1rem 1rem;
}

.featureSeven > .featSevText {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.featSevText > p {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
  text-align: left;
  line-height: 3.4rem;
}

.featureSeven > .featSevText > button {
  align-self: center;
  padding: 1.2rem 2.4rem;
}

/* featureEight (No Contact Options) */

.featEightTopText > .featEightTitle {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
  margin: 0%;
}

.featEightSubTitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.featEightOptions {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
}

.featEightBottomText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  padding-bottom: 3rem;
}

.featEightOptionDivs {
  width: 60%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.featEightOptionDivs > .carImg > img {
  width: 4rem;
  height: 4rem;
}

.featEightText {
  text-align: left;

  padding: 0rem 1rem;
}

/* featureBottom */

.featureBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featBottomText {
  height: 14rem;
  width: 14rem;

  margin: 1rem;

  background-image: url("./images/pizzabg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.featBottomText > h4 {
  color: #ffffff;
}

/* featureContact */

.featureContact {
  display: flex;

  margin: 1rem;
}

.featContactText {
  height: 16rem;
  width: 14rem;
}

.featContactText > h4 {
  font-weight: 800;
  text-align: left;
}

.featContactText > ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0%;
  padding: 0%;
}

.featContactText > ul > li {
  cursor: pointer;
  font-weight: 600;
}

/* Footer Page */

footer {
  margin: 1rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
}

.footerSocialLinks {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  font-size: 1rem;

  padding: 0.5rem 0rem;
  margin: 0rem 0rem 0rem 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
}

.appstore {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerSocialLinks > .appstore > button {
  height: 2rem;
  width: 8rem;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 0rem 0rem 0rem 1rem;
}

.footerSocialLinks > .appstore > p {
  font-size: 0.8rem;
  font-weight: 800;
}

.socials {
  font-size: 1.2rem;
}

.footerTermsLinks > ul {
  list-style: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerTermsLinks > ul > li {
  padding: 1rem 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.footerRights {
  font-size: 0.9rem;
  font-weight: 700;
}

.footerAccess {
  font-size: 0.9rem;
  font-weight: 700;
}
