/** @format */

.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  cursor: default;
}

.appArrow {
  font-size: 3rem;
  font-weight: 800;
  color: black;
}

header {
  margin: 0%;
  padding: 0%;
  background-color: #f7f7f7;

  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > button {
  margin: 1rem 3rem;
  padding: 0.6rem 3rem;
  background-color: #ff6000;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 800;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Nav Page */

.navDiv {
  background-color: #ffffff;
  padding: 1rem 0rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0% 11%;
  max-width: 100%;
}

.navImgDiv {
  cursor: pointer;

  display: flex;
  align-items: center;
}

.navLogo {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
}

.navDiv > nav > ul {
  list-style-type: none;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;

  padding: 0.5rem;
}

.navDiv > nav > ul > li {
  padding: 0.5rem;
  margin: 0rem 1rem;
}

.navDiv > nav > ul > li > a {
  text-decoration: none;
  color: #ff6000;
  font-weight: 800;
}

.fa-shopping-bag {
  font-weight: 900;
  font-size: 40px;
}

/* FeaturedItems Page */

/* .featureDiv {
} */

.featureOne,
.featureTwo,
.featureThree,
.featureFour,
.featureFive,
.featureSix,
.featureSeven,
.featureEight {
  padding: 1rem;

  /* min-height: 45.5vh; */
  border-bottom: 8px solid #ffffff;
  border-top: 8px solid #ffffff;
}

.featOneBtnDiv > button,
.featureTwo > button,
.featureThree > button,
.featureFour > .featFourShadow > button,
.featFiveBtnDiv > button,
.featSixBtnDiv > button,
.featSevBtnDiv > button,
.featEightBtnDiv > button,
.featBottomBtnDiv > button {
  margin: 1rem 0rem;
  padding: 1.2rem 2.4rem;
  background-color: black;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.featOneBtnDiv > button:hover,
.featureTwo > button:hover,
.featureThree > button:hover,
.featureFour > .featFourShadow > button:hover,
.featFiveBtnDiv > button:hover,
.featSixBtnDiv > button:hover,
.featSevBtnDiv > button:hover,
.featEightBtnDiv > button:hover,
.featBottomBtnDiv > button {
  margin: 1rem 0rem;
  padding: 1.2rem 2.4rem;
  background-color: black;
  color: #ffffff;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.featureOne,
.featureTwo,
.featureFive,
.featureSix,
.featureSeven,
.featureEight {
  background-color: #ff6000;
}

.featureThree,
.featureFour,
.featureSix {
  min-height: 40vh;
  height: 100%;
}

/* featureOne ($6 Hot n Ready Pizza Deal)*/

.featureOne {
  display: flex;
  padding: 0% 10%;
}

.featOneWrapperDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.featOneTextDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.featOneTitleDiv {
  display: flex;
}

.featOneDollar {
  color: black;
  font-size: 6rem;
  font-weight: 800;
}

.featOneTitle {
  font-size: 1.7rem;
  font-weight: 800;
  margin: 0%;
}

.featOneSubtitle {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 800;

  margin: 0%;
}

.featOneCenterDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featOneDescText {
  font-weight: 800;
  font-size: 1.2rem;

  margin: 0%;
}

.featOneOuterBtnDiv {
}

.featOneBtnWrapperDiv {
  display: flex;
}

.featOneBtnDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-weight: 800;
}

.featOneDelivery {
  padding: 0rem 1rem;
}

.featOneLegalDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featOneLegalDiv > p {
  font-size: 0.8rem;
  font-weight: 700;
}

.featOneBlankDiv {
}

.featOneImgDiv {
  cursor: default;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featOneImgDiv > img {
  border: 1px solid black;
}

/* featureTwo (Free Crazy Bread Online Only Deal)*/

.featureTwo {
  display: flex;
  padding: 0% 10%;
}

.featTwoWrapperDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.featTwoTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featTwoTitle {
  font-size: 3rem;
  font-weight: 800;
  padding: 0.5rem;
  margin: 0%;
}

.featTwoSubTitle {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 800;

  margin: 0%;
}

.featTwoDescText {
  font-weight: 800;
  font-size: 1.2rem;
  margin: 0%;
}

.featTwoCartText {
  font-weight: 800;
  font-size: 1rem;
}

.featTwoCode {
  font-size: 2rem;
  color: #ffffff;
  margin: 0%;
}

.featTwoOfferDate {
  font-size: 0.8rem;
  font-weight: 700;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featTwoBlankDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.featTwoImgDiv {
  cursor: default;
}

.featTwoImgDiv > img {
  width: 50%;
}

.featTwoImg {
}

/* featureThree (Exclusive Deals Subscribe)*/

.featureThree {
  background-image: url("./images/vip.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  padding: 0%;
}

.featThreeCrazyDiv {
  width: 30%;

  color: #ffffff;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.featThreeBlankDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.featThreeOverlay {
  background-color: rgba(248, 245, 245, 0.89);

  max-width: 50vw;
  padding: 1rem;
  margin: 4rem 2rem;
}

.featThreeOverlay > h2 {
  color: #ff6000;
  font-weight: 800;
  font-size: 1.8rem;
  margin: 0;
}

.featThreeSubTitle {
  color: black;
  font-weight: 800;
  font-size: 1.8rem;
  margin: 0;
}

.featThreeDescText {
  padding-bottom: 1rem;
}

.featThreeBtnDiv {
  margin: 0%;
  display: flex;
  justify-content: flex-end;
}

.featThreeBtnDiv > button {
  background-color: transparent;
  padding: 1rem;
  border: 4px solid #ff6000;
}

.featThreeBtnDiv > button > a {
  text-decoration: none;
  color: #ff6000;
  font-weight: 800;
}

/* featureFour (Merch Sale)*/

.featureFour {
  background-image: url("./images/sale.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  padding: 0%;
}

.featFourEmptyDiv {
  width: 30%;

  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featFourBlankDiv {
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.featFourOverlay {
  background-color: rgba(248, 245, 245, 0.89);

  max-width: 50vw;
  padding: 1rem;
  margin: 4rem 2rem;

  text-align: left;
}

.featFourOverlay > h2 {
  color: #ff6000;
  font-size: 2rem;
  font-weight: 800;
  margin: 0%;
}

.featFourSubTitle {
  color: black;
  font-size: 1.8rem;
  font-weight: 800;
  margin: 0%;
}

.featFourDescText {
  padding-bottom: 1rem;
}

.featFourBtnDiv {
  margin: 0%;
  display: flex;
  justify-content: flex-end;
}

.featFourBtnDiv > button {
  background-color: transparent;
  padding: 1rem;
  border: 4px solid #ff6000;
}

.featFourBtnDiv > button > a {
  text-decoration: none;
  color: #ff6000;
  font-weight: 800;
}

/* featureFive (Cookie Dough Brownie)*/

.featureFive {
  display: flex;
  padding: 0% 10%;
}

.featFiveWrapperDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0% 10%;
}

.featFiveTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 60%;
}

.featFiveTitleDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0rem 1rem;
}

.featFivePriceImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featFivePriceImgDiv > img {
  height: 100px;
  width: 100px;
}

.featFiveTitle {
  color: #ffffff;
  font-size: 3rem;
  padding: 0rem 1rem;
  margin: 0%;
}

.featFiveSubTitle {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  padding: 0% 0% 0% 16%;

  margin: 0%;
}

.featFiveDescText {
  font-size: 1rem;
  font-weight: bold;
}

.featFiveCenterDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featFiveOfferDate {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featFiveOfferDate > p {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;

  margin: 0%;
}

.featFiveBlankDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.featFiveDealImgDiv {
  cursor: default;
  display: flex;
}

.featFiveDealImgDiv > img {
  width: 300px;
  height: 300px;
}

/* featureSix (Now Hiring) */

.featureSix {
  display: flex;
  padding: 0% 10%;
}

.featSixTitleDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 70%;
}

.featSixHiring {
  display: flex;
  flex-direction: column;
}

.featSixJobText {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  margin: 0%;
  padding-bottom: 0.5rem;
}

.featSixLowWrapperDiv {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.featSixImgShopDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featSixImgShopDiv > img {
  width: 30%;
}

.featSixImgCharDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.featSixImgCharDiv > img {
  width: 32%;
}

.featSixBtnDiv {
  padding: 1rem;
}

/* featureSeven (Fundraising)*/

.featureSeven {
  display: flex;
  padding: 0%;
}

.featSevWrapperDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0% 16%;
}

.featSevTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featSevText {
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
}

.featSevBtnDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.featSevBlankDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.featSevImgCharDiv {
  display: flex;
}

.featSevImgCharDiv > img {
  width: 340px;
  height: 340px;
}

/* featureEight (No Contact Options) */

.featureEight {
  padding: 0% 16%;
}

.featEightTopTextDiv {
  cursor: default;
}

.featEightTitle {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 800;
}

.featEightSubTitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.featEightOptions {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
  margin: 0%;
}

.featEightLowWrapperDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.featEightOptionDivs {
  display: flex;
  max-width: 500px;
  width: 100%;
  margin-bottom: 1rem;
}

.featEightCarImgDiv {
  cursor: default;
  align-self: center;
}

.featEightCarImgDiv > img {
  width: 4rem;
  height: 4rem;
}

.featEightText {
  text-align: left;

  padding: 0rem 1rem;
}

.featEightText > h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.featEightText > p {
  font-size: 1rem;
  font-weight: 800;
}

/* featureBottom (create your own pizza) */

.featureBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.featBottomWrapperDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.featBottomDiv {
  margin: 1rem;
  position: relative;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 220px;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
}

.featBottomTextDiv {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 800;

  position: absolute;
}

.featBottomImage {
  width: 220px;
  height: 220px;

  object-fit: cover;
}

.franDiv {
  width: 220px;
  background-color: #ff6000;
}

.featBottomBtnDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #ff6000;
  height: 100%;
}

.featBottomBtnDiv > button {
  padding: 0.6rem 1rem;
}

/* featureContact */

.featureContact {
  display: flex;
  margin: 0% 20%;
}

.featContactWrapperDiv {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 220px;

  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.featContactText {
  text-align: left;

  height: 200px;
  width: 220px;
}

.featContactText > h4 {
  font-weight: 800;
  text-align: left;
}

.featContactText > ul {
  list-style: none;

  padding: 0%;
}

.featContactText > ul > li {
  cursor: pointer;
  font-weight: 600;
  line-height: 1.6rem;
}

/* Footer Page */

footer {
  display: flex;
  flex-direction: column;

  padding: 2% 10%;
}

.footerSocialLinksDiv {
  border-top: 1px solid red;
  border-bottom: 1px solid red;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerSocialDiv {
  width: 100%;
}

.footerSocialDiv > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footerSocialList {
}

.footerSocialList > li {
  margin-right: 0.3rem;
  padding: 0.5rem;
  list-style-type: none;
}

.footerAppStoreDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerAppStoreDiv > button {
  height: 2rem;
  width: 8rem;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  outline: none;
  margin: 0rem 0rem 0rem 1rem;
}

.footerAppStoreDiv > p {
  font-size: 0.8rem;
  font-weight: 800;
}

.footerTermsLinksDiv > ul {
  list-style: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerTermsLinksDiv > ul > li {
  padding: 1rem 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.footerRightsDiv {
  font-size: 0.9rem;
  font-weight: 700;
}

.footerAccessDiv {
  font-size: 0.9rem;
  font-weight: 700;
}
